@charset "UTF-8";
/**
  Normalization of the box model
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Remove left padding from list elements with a class attribute
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Remove margin from body and two other elements with a class attribute
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Remove vertical margins from specific elements with a class attribute
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Remove default bullet points from unordered lists with a class attribute
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Reset vertical margins for paragraphs, 
  declare a local variable for bottom margin to avoid interaction with more complex selectors
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Apply bottom margin to paragraphs without a class attribute
  that are not the last among sibling elements
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Simplify handling of images
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Inherit font properties for input fields
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Useful in most situations
    (for example, when you need to "stick" the footer to the bottom of the site)
   */
  height: 100%;
  /**
    Smooth scrolling
   */
  scroll-behavior: smooth;
}

body {
  /**
    Useful in most situations
    (for example, when you need to "stick" the footer to the bottom of the site)
   */
  min-height: 100%;
  /**
    Unified line-height
   */
  line-height: 1.5;
}

/**
  Apply a unified color to SVG elements
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Fix the issue with delayed color change when interacting with SVG elements
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Remove all animations and transitions for people who prefer not to use them
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
